:root{
    --backgroundIndex: rgb(131,243,247);
    --anchorIndex: rgb(77,208,255);
    --indexShadow: rgb(47,82,220);
    --backgroundQuiz: rgb(248,254,228);
    --titles: rgb(165,28,30);
    --optionA: rgb(12,215,160);
    --optionB: rgb(26,154,170);
    --optionC: rgb(240,70,110);
    --optionD: rgb(255,196,61);
}

* {
    font-family:'Courier New', Courier, monospace
}

header {
    margin: 30px;
}

#index {
    background-color: var(--backgroundIndex);
    text-align: center;
    margin: 0px;
    
}

#indexsection {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 100px 0px;
    text-align: center;
    align-items: center;
}

#imgpregunta {
    width: 100%;
}

#indexanchor {
    margin: 50px 30px;
    background-color: var(--anchorIndex);
    border: 4px solid var(--indexShadow);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block; 
}

#quizbody {
    background: var(--backgroundQuiz);
    width: 100%;
}
#quizform {
    text-align: center;
    width: 100%;
}

.quizfieldset {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
    border-color: transparent;
}

legend {
    color: var(--titles);
    height: 20%;
    font-size: 1.3em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

input[type=radio] {
    display: none;
}

label {
    font-size: 1.3em;
    margin: 0px;
    padding: 30px 0px;
    height: 20%;
    width: 100%;
    color: var(--backgroundQuiz);
    min-width: 100px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.option1 {
    background: var(--optionA);
}

.option2{
    background: var(--optionB);
}

.option3 {
    background: var(--optionC);
}

.option4 {
    background: var(--optionD);
}

.quizfieldset>label:hover {
    background: black;
}

.quizfieldset input[type=radio]:checked + label{
    background: var(--backgroundQuiz);
    color: var(--titles);
    border: 3px solid var(--titles);
    text-transform: uppercase;
}

button[type*="submit"] {
    color: var(--titles);
    background-color: var(--backgroundQuiz);
    border: 2px solid var(--titles);
    padding: 20px 30px;
    margin: 30px 20px 50px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    cursor: pointer;
}

button[type*="submit"]:hover {
    background-color: var(--titles);
    color: var(--backgroundQuiz);
} 

input {
    width: 300px;
}

#message {
    display: none;
    font-size: 1.4em;
    padding: 20px;
    margin: 40px 0px 20px 0px;
    font-weight: bold;
    color: var(--titles);
}

#divimagenfinal {
    text-align: center;
    width: 100%;
}

#imagenFinal {
    width: 100%;
}


@media screen and (min-width: 768px) and (max-width: 1366px) {


    #indexanchor {
        font-size: 50px;
    }

    #imgpregunta {
    width: 300px;
    }

    #quizmain {
        margin: 0px;
        padding: 0px;
        padding: 0px;
    } 

    #quizform {
        margin: 0px;
    }

    .quizfieldset {
        margin: 0px;
        padding: 0px;
        flex-direction: row;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    
    legend {
        color: var(--titles);
        height: 35vh;
        font-size: 1.8em;
        padding: 0px 15vw;
    }

    label {
        font-size: 1.8em;
        margin: 20px 0px;
        padding: 20px 30px;
        height: 90px;
        width: 35%;
    }

    button[type*="submit"] {
        padding: 25px 35px;
        font-size: 1.5em;
    }
    #message {
        font-size: 1.8em;
    }

    #imagenFinal {
        width: auto;
    }
    
}

@media screen and (min-width: 1366px) {


     #indexanchor {
        font-size: 50px;
    }
  

    #imgpregunta {
    width: 500px;
    }

    #quizmain {
        margin: 0px;
        padding: 0px;
        padding: 0px;
    } 

    #quizform {
        margin: 0px;
    }

    .quizfieldset {
        flex-direction: row;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    legend {
        color: var(--titles);
        height: 35vh;
        font-size: 2.4em;
        padding: 0px 10vw;
    }

    label {
        font-size: 2em;
        margin: 20px 20px;
        padding: 30px 30px;
        height: 90px;
        width: 30%;
    }

    button[type*="submit"] {
        padding: 30px 40px;
        font-size: 1.8em;
    }

    #message {
        font-size: 2.4em;
    }

    #imagenFinal {
        width: auto;
    }
}